.center {
	display: block;
	margin: 0 auto;
}

.center-text {
	text-align: center;	
}

.bold-text {
	font-weight: 600;
}

.right-align {
	text-align: right;
}

.left-align {
	text-align: left;	
}

.cursor {
	cursor: pointer;
}

.info-mark {
	position: relative;
	font-size: 15px;
	font-family: 'Times New Roman';
	font-weight: 600;
	margin-top: -40px;
	left: 30px;
	float: right;
	border-radius: 50px;
	color: #FFFFFF;
	background-color: #0088CC;
	padding: 1px 10px;
}

.info-mark[tooltip]:hover:after {
	font-weight: 400;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	
	content: attr(tooltip);
	padding: 4px 8px;
	color: #333;
	position: absolute;
	left: 30px;
	margin-top: -23px;
	white-space: nowrap;
	z-index: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 4px #AAAAAA;
	-webkit-box-shadow: 0px 0px 4px #AAAAAA;
	box-shadow: 0px 0px 4px #AAAAAA;
	background-image: -moz-linear-gradient(top, #EEEEEE, #DDDDDD);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DDDDDD),
		color-stop(1, #cccccc));
	background-image: -webkit-linear-gradient(top, #EEEEEE, #DDDDDD);
	background-image: -moz-linear-gradient(top, #EEEEEE, #DDDDDD);
	background-image: -ms-linear-gradient(top, #EEEEEE, #DDDDDD);
	background-image: -o-linear-gradient(top, #EEEEEE, #DDDDDD);
}

.hide {
	display: hidden;
}

/******************
	NAVIGATION
*******************/
.nav {
	height: 150px;
	background-color: #EEEEEE;
}

.nav-logo {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
}

.nav-logo img {
	max-width: 180px;
}

.nav ul {
	float: right;
	margin: 20px 20px 20px;
	list-style: none;
}

.nav ul li {
	display: inline-block;
}

.nav ul li a {
	color: #0088CC;
	border-radius: 3px;
	
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	margin-left: 3px;
	margin-right: 3px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 13px;
}

/******************
	ERRORS
*******************/

.nav ul li.active a, .nav ul li a:HOVER {
	color: #FFFFFF;
	background-color: #0088CC;
	text-decoration: none;
	text-transform: uppercase;
}

.errors {
	color: #FF0000;
	font-style: italic;
	font-size: 12px;
	padding: 0;
	margin: 10px auto;
}

.errors li {
	list-style-type: none;
}

.error-highlight {
	border-color: #F08080;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #F08080;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #F08080;
}


@media only screen and (max-width:675px) {
	.nav-logo img {
		display: none;
	}
}