.program-summary {
	margin-top: 20px;
	width: 1000px;	
}

.workflow-details .detail {
	border: 1px solid #EEEEEE;
}

.comments {
	margin-top: 25px;
}

.details .row{
	margin: 3px auto;
}

.cross-impact, .student-impact, .library-impact, .its-impact {
	margin: 0 !important;
}
