.summary {
	margin-top: 20px;
	max-width: 800px;	
}

.summary {
	font-size: 12px;
}

.summary .row input, .form .row select, .summary .row textarea {
	margin-bottom: 10px;
}

.comment {
	width: 100%;
	min-height: 5em;
	max-height: 10em;
	overflow: scroll;
	background-color: #FAFAFA;
	padding: 5px;
	border: 1px solid #EEEEEE;
}

.update-program-form {
	padding: 0 20px;
}

.update-program-form .button {
	font-size: 12px;
}


/** Desktop Specific css **/
@media only screen and (min-width:990px) {
	.summary .row .workflow {
	min-height: 100vh;
	border-right: 1px solid #EEEEEE;
	}
	
	.summary .row .comments {
		min-height: 100vh;
	}
}